# Example Environment config for the Pulse Application

# Infisical Config
INFISICAL_DB_NAME=changeme
INFISICAL_DB_USER=changeme
INFISICAL_DB_PASSWORD=changeme

# Mongo DB Config
MONGO_HOST=mongo
MONGO_DB=pulse
MONGO_ROOT_USER=changeme
MONGO_ROOT_PASSWORD=changeme
# Build MONGO_URI here so compose expands it correctly
MONGO_URI=mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASSWORD}@${MONGO_HOST}:27017/${MONGO_DB}?authSource=admin
